user/__pycache__/
base/__pycache__/
backend/__pycache__/
dailyreads/__pycache__/
user/migrations/
dailyreads/migrations/
*.sqlite3
base/migrations/__pycache__/
assets/images/
.idea/

*.pyc
__pycache__/
.env
