APScheduler==3.8.1
asgiref==3.5.2
certifi==2024.2.2
Django==4.1.4
django-admin-list-filter-dropdown==1.0.3
django-apscheduler==0.6.2
django-cors-headers==3.13.0
django-debug-toolbar==4.3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==21.2.0
packaging==24.0
Pillow==9.3.0
psycopg2-binary==2.9.6
PyJWT==2.6.0
python-dotenv==1.0.0
python-environ==0.4.54
pytz==2022.6
sentry-sdk==1.28.1
six==1.16.0
sqlparse==0.4.3
tzlocal==5.2
urllib3==2.2.1
